
html {
    font-size: 11pt;
}
h1, h2, h3, h4, h5, h6, p {
    font-weight: normal;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
}
header {
    background-color: rgba(73,8,1,255);

}

.japan {
    padding-top: 12px;
}

.head-gifs {
    list-style: none;
    display: inline;

}

.head-gifs ul {
    float: left;
}

.head-gifs a {
    display: block;
    padding: 8px;
}

.button {
    float: right;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60px;
}

#nav {
    float: right;
    margin-top: -50px;
    margin-right: 10px;
    height: 25px;
}

nav a {
    display: block;
    list-style-type: none;
    color: white;
    float: left;
    border-style: solid;
    text-decoration: none;
    margin: 0;
    padding: inherit;
    width: 37px;
}
.headbub {
    max-width: 40%;
}

.bubble {
    max-width: 50%;
    margin-left: -100px;

}
   
.column {
  padding: 5px;
  }
  
  .row {
    max-width: calc(100% - 1em);
    display: inline-flex;
  }

.light {
    max-width: 50%;
    transform: rotate(90deg)
}
.zenitsu {
    width: 1000px;
    max-width: 20%;
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#country img {
    max-width: 50%;
    border-style: dashed;
}

#country p {
    text-align: left;
}

#country a {
    display: block;
    list-style-type: none;
    color: black;
    float: left;
    border-style: solid;
    text-decoration: none;
    margin: 0;
    padding: 5px;
    width: 37px;
}

.england {
    padding-top: 100px;
}

.russia {
    padding-top: 100px;
}



